<div class="matiere-form-container">
  <h3>{{ isEditMode ? 'Modifier la Matière' : 'Ajouter une Matière' }}</h3>

  <form>
    <div class="form-group">
      <label for="nomMatiere">Nom de la Matière</label>
      <input
        id="nomMatiere"
        type="text"
        [(ngModel)]="nomMatiere"
        placeholder="Entrez le nom de la matière"
        name="nomMatiere"
      />
    </div>

    <div class="form-group">
      <label for="filiere">Filière</label>
      <select
        id="filiere"
        [(ngModel)]="selectedFiliere"
        name="filiere"
        required
      >
        <option *ngFor="let filiere of filieres" [value]="filiere.id">
          {{ filiere.nom }}
        </option>
      </select>
    </div>

    <div class="form-group">
      <label for="semestres">Semestres</label>
      <select
        id="semestres"
        [(ngModel)]="selectedSemestres"
        name="semestres"
        multiple
      >
        <option *ngFor="let semestre of semestres" [value]="semestre.id">
          {{ semestre.numero }}
        </option>
      </select>
    </div>


    <button type="button" (click)="onSubmit()">
      {{ isEditMode ? 'Modifier' : 'Ajouter' }}
    </button>
  </form>

  <div *ngIf="message" class="message">
    {{ message }}
  </div>
</div>
