<div class="container">
  <div class="header">
    <h1>Liste des Matières</h1>
    <button class="btn-add" (click)="navigateToForm('form')">
      <i class="plus-icon">+</i>
      Ajouter
    </button>
  </div>

  <table class="data-table" *ngIf="matieres.length > 0; else noData">
    <thead>
    <tr>
      <th>Nom Matière</th>
      <th>Semestres</th>
      <th>Filière</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let matiere of matieres">
      <td>{{ matiere.nom }}</td>
      <td>
        <span *ngFor="let semestre of matiere.semestres; let last = last">
          {{ semestre }}<span *ngIf="!last">, </span>
        </span>
      </td>
      <td>{{ matiere.filiereNom }}</td>
      <td class="actions">
        <button class="btn-action btn-edit" (click)="navigateToForm('edit/' + matiere.id)">
          <i class="edit-icon">✎</i>
        </button>
        <button class="btn-action btn-delete" (click)="deleteMatiere(matiere.id)">
          <i class="delete-icon">×</i>
        </button>
      </td>
    </tr>
    </tbody>
  </table>

  <ng-template #noData>
    <div class="no-data">
      <p>Aucune matière trouvée.</p>
    </div>
  </ng-template>
</div>
