<div class="prof-form-container">
  <h3>{{ isEditMode ? "Modifier le prof" : "Ajouter un prof" }}</h3>

  <form>
    <div class="form-group">
      <label for="nom">Nom du prof</label>
      <input
        id="nom"
        type="text"
        [(ngModel)]="nom"
        placeholder="Entrez le nom du prof"
        name="nom"
      />
      <label for="prenom">Prénom du prof</label>
      <input
        id="prenom"
        type="text"
        [(ngModel)]="prenom"
        placeholder="Entrez le prénom du prof"
        name="prenom"
      />
    </div>

    <button type="button" (click)="onSubmit()">
      {{ isEditMode ? "Modifier" : "Ajouter" }}
    </button>
  </form>

  <div *ngIf="message" class="message">
    {{ message }}
  </div>
</div>
