.dashboard-container {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 240px;
  background-color: #2d3748;
}

.main-content {
  flex-grow: 1;
  padding: 32px;
  background-color: #f7fafc;
}

ul li a {
  display: block;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 6px;
}

ul li a:hover {
  background-color: #4a5568;
}
