<div class="dashboard-container flex">
    <!-- Sidebar -->
    <div class="sidebar bg-gray-800 text-white w-64 p-4">
        <h2 class="text-xl font-semibold mb-6">Menu</h2>

        <ul>
            <li class="mb-4">
                <a (click)="navigateToFiliere('filiere')" class="text-white hover:bg-gray-700 p-2 rounded-md cursor-pointer">Filière</a>
            </li>
            <li class="mb-4">
                <a (click)="navigateToFiliere('prof')" class="text-white hover:bg-gray-700 p-2 rounded-md cursor-pointer">Prof</a>
            </li>
            <li class="mb-4">
                <a (click)="navigateToFiliere('matiere')" class="text-white hover:bg-gray-700 p-2 rounded-md cursor-pointer">Matière</a>
            </li>
            <li class="mb-4">
                <a (click)="navigateToFiliere('type-de-seance')" class="text-white hover:bg-gray-700 p-2 rounded-md cursor-pointer">Type de Séance</a>
            </li>
            <li class="mb-4">
                <a (click)="navigateToFiliere('salle')" class="text-white hover:bg-gray-700 p-2 rounded-md cursor-pointer">Salle</a>
            </li>
            <li class="mb-4">
                <a (click)="navigateToFiliere('duree')" class="text-white hover:bg-gray-700 p-2 rounded-md cursor-pointer">Durée</a>
            </li>
            <li class="mb-4">
                <a (click)="navigateToFiliere('emploi-du-temps')" class="text-white hover:bg-gray-700 p-2 rounded-md cursor-pointer">Emploi du temps</a>
            </li>
        </ul>
    </div>

    <!-- Main Content -->
    <div class="main-content flex-1 p-8">
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
