<div class="filiere-form-container">
  <h3>{{ isEditMode ? 'Modifier la Filière' : 'Ajouter une Filière' }}</h3>

  <form>
    <div class="form-group">
      <label for="nomFiliere">Nom de la Filière</label>
      <input id="nomFiliere" type="text"  [(ngModel)]="nomFiliere" placeholder="Entrez le nom de la filière" name="nomFiliere"/>
    </div>

    <button type="button" (click)="onSubmit()">
      {{ isEditMode ? 'Modifier' : 'Ajouter' }}
    </button>
  </form>

  <div *ngIf="message" class="message">
    {{ message }}
  </div>
</div>
