<div class="button-container">
  <button
    type="button"
    class="flex items-center justify-center text-white bg-blue-900 hover:bg-sky-700 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-primary-600 dark:hover:bg-primary-700 focus:outline-none dark:focus:ring-primary-800"
    (click)="onGenerateSchedule()"
  >
    Generate EDT
  </button>
</div>

<!-- Modal pour afficher les résultats -->
<div *ngIf="scheduleData" class="modal">
  <div class="modal-content">
    <span class="close-btn" (click)="closeModal()">×</span>
    <h2>Emploi du Temps Généré</h2>
    <pre>{{ scheduleData | json }}</pre> <!-- Affichage JSON formaté -->
  </div>
</div>