<div class="container">
  <div class="header">
    <h1>Liste des Filières</h1>
    <button class="btn-add" (click)="navigateToForm('form')">
      <i class="plus-icon">+</i>
      Ajouter
    </button>
  </div>

  <table class="data-table" *ngIf="filieres.length > 0; else noData">
    <thead>
    <tr>
      <th>Nom Filière</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let filiere of filieres">
      <td>{{ filiere.nom }}</td>
      <td class="actions">
        <button class="btn-action btn-edit" (click)="navigateToForm('edit/' + filiere.id)">
          <i class="edit-icon">✎</i>
        </button>
        <button class="btn-action btn-delete" >
          <i class="delete-icon">×</i>
        </button>
      </td>
    </tr>
    </tbody>
  </table>

  <ng-template #noData>
    <div class="no-data">
      <p>Aucune filière trouvée.</p>
    </div>
  </ng-template>
</div>
