<form [formGroup]="scheduleForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <mat-form-field appearance="fill">
      <mat-label>Filière</mat-label>
      <mat-select formControlName="filiere">
        <mat-option [value]="filiere.nom">
          {{ filiere.nom }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="form-group">
    <mat-form-field appearance="fill">
      <mat-label>Professeur</mat-label>
      <mat-select formControlName="prof">
        <mat-option *ngFor="let prof of profs" [value]="prof">
          {{ prof }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="form-group">
    <mat-form-field appearance="fill">
      <mat-label>Salle</mat-label>
      <mat-select formControlName="salle">
        <mat-option *ngFor="let salle of salles" [value]="salle">
          {{ salle }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="form-group">
    <mat-form-field appearance="fill">
      <mat-label>Jour</mat-label>
      <mat-select formControlName="jour">
        <mat-option *ngFor="let jour of jours" [value]="jour">
          {{ jour }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="form-group">
    <mat-form-field appearance="fill">
      <mat-label>Durée</mat-label>
      <mat-select formControlName="duree" multiple>
        <mat-option *ngFor="let duree of durees" [value]="duree">
          {{ duree }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="form-group">
    <button mat-raised-button color="primary" type="submit" [disabled]="scheduleForm.invalid">Valider</button>

  </div>
</form>
